[submodule "src/test/resources/ttml/imsc-tests"]
	path = src/test/resources/ttml/imsc-tests
	url = https://github.com/sandflow/imsc-tests.git
[submodule "imsc-tests/"]
	url = https://github.com/sandflow/imsc-tests.git
